<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class>CheckTaskListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>QueryRegister</servlet-name>
    <display-name>QueryRegisterElecValue</display-name>
    <description>A QueryRegisterElecValue  Servlet Test</description>
    <servlet-class>QueryRegisterElecValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryRegister</servlet-name>
    <url-pattern>/register.action</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
